.modal {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.507);
  position: fixed;
  z-index: 12;
  left: 0;
  top: 0;
  justify-content: center;
}
.center {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  max-height: 400px;
  min-height: 200px;
  overflow-y: scroll;
  background-color: var(--bgBody);
  position: absolute;
  top: -40px;
  opacity: 0;
  transition: all 0.2s;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
}
.entering {
  top: 40px;
  opacity: 1;
}
.entered {
  top: 40px;
  opacity: 1;
}
.exiting {
  opacity: 0;
  top: -80px;
}
/* .exited { display: none; } */

.exit {
  height: fit-content;
  padding: 5px 8px;
  order: 1;
  width: fit-content;
  flex: 0;
  background-color: rgb(255, 69, 69);
  border-radius: 5px;
  font-size: 14px;
}
@media (hover: hover) {
  .exit:hover {
    color: red;
    background-color: coral;
  }
}
.content {
  order: 0;
  flex: 1;
}
.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  padding-top: var(--padding-top);
}
.form input {
  padding: 5px;
  font-size: 16px;
  color: var(--body-color);
  background-color: transparent;
  border: 1px solid var(--white);
  backdrop-filter: blur(3px);
}
.form p {
  color: red;
}
